body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #04AA6D;
    padding: 10px;
    color: white;
    text-align: left;
}
.navbar {
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
}
.navbar button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #45a049;
}
.main-content {
    padding: 20px;
}
.input-group {
    margin: 10px 0;
}
.input-group label {
    margin-right: 10px;
}
.input-group input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}
.input-group button {
    padding: 8px 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
.input-group button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #04AA6D;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}